html, body {
  margin:0px;
  background-color: black;
}

.intro {
  background-color: black;
  background-position: center;
  font-size: 80px;
  color: white;
  text-align: center;
  padding: 10% 0px;
}

.sub-intro {
  font-size: 32px;
}

.what-do {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: stretch;
  align-items: stretch;
  column-gap: 17px;
  row-gap: 20px;
  color: white;
  font-size: 36px;
  text-decoration-line: none;
  margin-left: 20px;
  margin-right: 20px;
}

a:link, a:visited {
  background-color: white;
  color: white;
  border: 2px solid lightsteelblue;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 25px;
  border-radius: 10px;
  background-color: rgba(0,191,255, 0.075);
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
  border: 2px rgba(255,255,255,0.4) solid;
  border-bottom: 2px rgba(40,40,40,0.35) solid;
  border-right: 2px rgba(40,40,40,0.35) solid;
}

a:hover, a:active {
  background-color: lightsteelblue;
  color: black;
}

/* Middle Section */
#tech, #music, #creation {
  height: 200px;
  text-align: center;
  padding: 10% 0px 0px 0px;
}

#tech p, #music p, #creation p {
  font-size: 22px;
}


/* Individual Sections */
#tech-link, #music-link, #creation-link {
  height: 300px;
  margin-bottom: 20px;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  box-sizing: border-box;
}

#tech-link {
  background-color: gray;
}


#music-link {
  background-color: gainsboro;
}

#creation-link {
  background-color: honeydew;
}

/*Social Links and Form*/
 .icon-bar {
 margin-top: 10%;
} 

.icon-bar a {
  display: block;
  text-align: center;
  transition: all 0.3s ease;
  color: white;
  font-size: 36px;
  border-radius: 50%;
  border: 3.5px rgba(255,255,255,0.4) solid;
}

.icon-bar a:hover {
  background-color: #000;
}

.active {
  background-color: #04AA6D;
}

h3 {
  font-size: 200%;
}

.contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  column-gap: 10px;
  height: 500px;
  color: white;
  text-align: center;
}

