html, body {
  margin:0px;
  background-color:rgb(4,4,4);
  font-family: 'Amarante', cursive;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.logo {
  width: 100%;
  height: auto;
}

.title {
font-weight: bolder;
font-size: 147%;
line-height: 0.1em;
}

.menu {
  float: left;
  width: 20%;
  text-align: center;
}

.menu a {
  padding: 8px;
  margin-top: 7px;
  display: block;
  width: 100%;
  color: black;
}

.main {
  float: left;
  width: 60%;
  padding: 0 20px;
}

.right {
  background-color: #e5e5e5;
  float: left;
  width: 20%;
  padding: 15px;
  margin-top: 7px;
  text-align: center;
}

.tech {
  background-color: rgba(72, 191, 146, 1);
}

.music {
  background-color:  #4B8DA0;
}

.etc {
  background-color: #4E5BAD;
}

.contact {
  background-color: rgba(79, 66, 180, 1) ;
}

@media only screen and (max-width: 620px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width: 100%;
  }
}

/* TECH MUSIC AND ETC SECTIONS */
/* TECH MUSIC AND ETC SECTIONS */
/* TECH MUSIC AND ETC SECTIONS */
.techmain {
  max-width: 1000px;
  margin: auto;
}

.techtitle {
  color: rgba(72, 191, 146, 1);
}

.musictitle {
  color:  #4B8DA0;
}

.etctitle {
  color: #4E5BAD;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.techrow {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column */
.techrow,
.techrow > .techcolumn {
  padding: 8px;
}

/* Create four equal columns that floats next to each other */
.techcolumn {
  float: left;
  width: 25%;
}

/* Clear floats after rows */
.techrow:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .techcolumn {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .techcolumn {
    width: 100%;
  }
}

/* CONTACT FORM */
/* CONTACT FORM */
/* CONTACT FORM */

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

