html,body {
  margin:0;
  padding:0;
  background-color: rgb(35, 29, 70);
  color: whitesmoke;
}

/*mobile display*/
@media screen and (max-width: 375px) {

}

/*desktop & tablet display*/
.header {
  width: 100%;
  height: 320px;
  background-image: url("images/paisley.jpg");
}

.avatar-container {
  position: absolute;
  z-index: 3;
  top: 30%;
  left: 42.5%;
  width: 500px;
  height: 500px;
  
}

.avatar {
  background-size: cover;
  border: 7.5px solid rgb(35, 29, 70);;
  border-radius: 50%;
  height: 200px;
  position: relative;
  width: 200px;
}

.name {
  font-size: 40px;
  margin-bottom: -1%;
}

.about {
  text-align: center;
  padding-top: 2.2%;
  background-color: rgb(35, 29, 70);
}